html {
    scroll-behavior: smooth;
}

body {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgb(255, 255, 251);
    font-family: "Source Sans 3", sans-serif;
    font-size: larger;
}

h2 {
    padding-top: 20px;
}