{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Library</li>
{% endblock %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for section_path in section.subsections %}
    {% set section = get_section(path=section_path) %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{{ section.title }}</h3>
                <p class="lead">{{ section.description }}</p>
                <a href="{{ section.path }}" target="_blank" class="card-link">Learn More</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}