{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Products</li>
{% endblock %}

{% block content %}
<h1 class="display-5">
    {{ section.title }}
</h1>

<p class="lead">
    {{ section.description }}
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for page in section.pages %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{{ page.title }}</h3>
                <p class="lead">{{ page.description }}</p>
                <a href="{{ page.extra['canonical_url'] }}" target="_blank" class="card-link">Learn More</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}