{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ get_url(path='@/library/_index.md') }}">Library</a></li>
    <li class="breadcrumb-item active">Publications</li>
{% endblock %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for page in section.pages %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">{{ page.description }}</p>
                <a href="{{ page.extra['canonical_url'] }}" target="_blank" class="card-link">Learn More</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}